django==4.2.3
django-ninja==0.22.2
openai==0.28.0
django-extensions==3.2.3
pip-tools==7.3.0
python-dotenv==1.0.0
psycopg2-binary==2.9.7
orjson==3.9.7
PyJWT==2.8.0
langchain==0.0.305
tiktoken==0.5.1
sentry-sdk==1.31.0
zappa==0.58.0
django-cors-headers==4.3.0
elasticsearch==8.10.1